[submodule "Aether/vendor/spdlog"]
	path = Aether/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aether\\vendor\\GLFW"]
	path = Aether\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Aether/vendor/imgui"]
	path = Aether/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Aether/vendor/glm"]
	path = Aether/vendor/glm
	url = https://github.com/g-truc/glm
